@import '../../global.scss';

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  cursor: pointer;

  .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;

    img {
      max-width: 90%;
      margin-top: 5px;
    }
  }

  .info {
    margin-top: 20px;

    .number {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px;
      border-radius: 10px;
      font-size: 0.8rem;
    }

    .name,
    .type {
      margin: 15px 0 7px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
}

.pokemon.grass {
  background-color: $grass;
}

.pokemon.fire {
  background-color: $fire;
}

.pokemon.water {
  background-color: $water;
}

.pokemon.bug {
  background-color: $bug;
}

.pokemon.normal {
  background-color: $normal;
}

.pokemon.poison {
  background-color: $poison;
}

.pokemon.electric {
  background-color: $eletric;
}

.pokemon.fairy {
  background-color: $fairy;
}

.pokemon.ground {
  background-color: $ground;
}

.pokemon.psychic {
  background-color: $psychic;
}

.pokemon.fighting {
  background-color: $fighting;
}

.pokemon.rock {
  background-color: $rock;
}

.pokemon.ghost {
  background-color: $ghost;
}

.pokemon.ice {
  background-color: $ice;
}

.pokemon.dragon {
  background-color: $ice;
}

.pokemon.dark {
  background-color: $dark;
}

.pokemon.steel {
  background-color: $rock;
}
