@import '../../global.scss';

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  cursor: pointer;

  .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;

    img {
      max-width: 90%;
      margin-top: 5px;
    }
  }

  .info {
    margin-top: 20px;

    .number {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px;
      border-radius: 10px;
      font-size: 0.8rem;
    }

    .name,
    .type {
      margin: 15px 0 7px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
}

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
  }
}
